<div class="tab-area">
  <p-tabView>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-desktop"></i>
        <span class="header-label">Local</span>
      </ng-template>

      <div>
        <p-button (click)="showModal()" icon="pi pi-external-link" label="Add Item"></p-button>
      </div>

      <p-table
        [value]="list_items"
        [paginator]="true"
        [rows]="5"
        selectionMode="single"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 25]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center" style="width: 60%">Information</th>
            <th class="text-center"  style="width: 30%">Image</th>
            <th class="text-center"  style="width: 10%">Option</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item>
          <tr>
            <td>
              <div class="tb-title">{{item.title}}</div>
              <br>
              <div class="tb-content">{{item.content}}</div>
              <br>
              <div class="tb-date">Published At: {{item.publishedAt}} By: Local</div>
            </td>

            <td>
              <img [src]=item.image> <br>
            </td>

            <td>
              <button pButton type="button" icon="pi pi-pencil" iconPos="left" class="p-button-raised p-button-rounded" style="margin-right: 20px" (click)="editModal(item)"></button>
              <button pButton type="button" icon="pi pi-times" iconPos="left" class="p-button-raised p-button-rounded" (click)="deleteItem(item)"></button>
            </td>
          </tr>
        </ng-template>

      </p-table>
    </p-tabPanel>

    <p-tabPanel header="Remote" leftIcon="pi-cloud">
      <ng-template pTemplate="header">
        <i class="pi pi-cloud"></i>
        <span class="header-label">Remote</span>
      </ng-template>

      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
        ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
      </p>
    </p-tabPanel>

    <p-tabPanel header="Remote +" leftIcon="pi-cloud">
      <ng-template pTemplate="header">
        <i class="pi pi-cloud-upload"></i>
        <span class="header-label">Remote +</span>
      </ng-template>

      <p>
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
        qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
      </p>
    </p-tabPanel>
  </p-tabView>
</div>

<p-dialog header="Add Item" [(visible)]="visible" [style]="{width: '50vw'}" [maximizable]="true" [modal]="true">
  <span class="p-float-label modal-label">
    <input pInputText id="title" [(ngModel)]="title" />
    <label htmlFor="title">Title</label>
  </span>

  <span class="p-float-label modal-label">
    <input pInputText id="desc" [(ngModel)]="description" />
    <label htmlFor="desc">Description</label>
  </span>

  <span class="p-float-label modal-label">
    <input pInputText id="content" [(ngModel)]="content" />
    <label htmlFor="content">Content</label>
  </span>

  <span class="p-float-label modal-label">
    <input pInputText id="urlLink" [(ngModel)]="url_link" />
    <label htmlFor="urlLink">Url Link</label>
  </span>

  <div class="option-area">
    <p-button icon="pi pi-save" label="Save" (onClick)="addItem()"></p-button>
    <p-button icon="pi pi-times" label="Cancel" (onClick)="hideModal()"></p-button>
  </div>
</p-dialog>

<p-toast></p-toast>
